{
	"HTTPBinding":":9090",
	"VerifySSL":true,
	"IncomingDir":"/drakvuf/watch"
	"ProcessingDir":"/drakvuf/serve"
	"FinishedDir":"/drakvuf/output"
	"MaxPending":5,
	"MaxAPICalls":10000,
	"LogFile":"",
	"LogLevel":"debug"
}
